.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  width: 1920px;
  color: #28465e;
  background-color: #f1f1f1;
}

.header .menu .logo {
  width: 222px;
  height: 91px;
}

.header .menu .item {
  cursor: pointer;
}

.header .menu .active {
  font-weight: bold;
}

.header .swiper {
  width: 1920px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1920px;
	height: 700px;
  background-color: #172836;
  color: #d7d7d7;
  padding: 0 211px;
  box-sizing: border-box;
}

.footer_left .logo {
  display: flex;
  align-items:  center;
}

.footer_left .logo img {
  width: 193px;
  height: 79px;
  margin-right: 73px;
}

.footer_left .desc {
  width: 643px;
  margin-top: 77px;
  color: #d7d7d7;
}

.footer_center {
  position: relative;
}

.footer_center::before, .footer_right::before {
  content: '';
  width: 1px;
  height: 160px;
  position: absolute;
  top: 115px;
  left: -90px;
  background-color: #979797;
}

.footer_center .item {
  font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color: #ffffff;
  margin-bottom: 53px;
  cursor: pointer;
}

.footer_right {
  height: 380px;
  font-size: 16px;
  position: relative;
}

.footer_right .label {
  font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 2px;
	color: #ffffff;
  margin-bottom: 43px;
}

.footer_right .phone {
  font-size: 32px;
  color: #ffffff;
}




